body {
  font-family: inherit;
  margin: 0;
  padding: 0;
}
.splashscreen {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  width: 100%;
  position: fixed;
  align-items: center;
  height: 100%;
  background-color: #0c29d0;
  border: 2px solid yellow;
  border-top: 0;
  border-bottom:0;
}
.splashPage {
  /* border: 3px solid yellow; */
  filter: drop-shadow(3px 3px 0 yellow);
  /* border: 0.2rem solid black;
    border-radius: 1rem; */

  /* height: 100vh; */
  background: white;
  width: max-content;
}
.description {
}
.login-button {
  border: 2px solid #0c29d0;
  width: 15rem;
  color: yellow;
  font-family: "Poppins", sans-serif;
  background-color: #0c29d0;
  transition: 0.3s;
}
.login-button:hover {
  color: #0c29d0;
  background-color: rgb(255, 255, 255);
}

.register-button {
  border: 2px solid #0c29d0;
  width: 15rem;
  color: #0c29d0;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  transition: 0.3s;
}
.register-button:hover {
  filter: none;
  color: yellow;
  background-color: #0c29d0;
}
.description {
  color: #0c29d0;
  font-size: 2rem;
}
.aux-div{
  filter: drop-shadow(1px 1px 0 black);
}
